@using ClientApp.Controllers;
@using Shop.Microservice.Domain.Entities;
@model Dictionary<string, List<Order>>;
@{
    Layout = "_Layout";
}


<style>
    .users_container {
        background-color: #ACC8FF;
        width: contain;
        height: contain;
        position: relative;
        padding: 10px;
        margin: 30px;
        border-radius: 5px;
    }

    .user {
    }

    .summary_users {
        font-size: 1.5em;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 1.5em;
    }
</style>


<div class="history_container">
    @foreach (var dict in Model)
    {
        var user = dict.Key;

        @foreach (var order in dict.Value)
        {
            <div class="order">
                <details>
                    <summary class="summary_orders">
                        <div>Заказ @order.Id от @order.CreateAt</div>
                        <div>Пользователь: @user</div>
                        <div>Статус: @order.OrderStatus</div>
                    </summary>
                  @{
                      foreach (var prod in order.OrderProducts)
                        {
                            <div class="item">
                                <p><a href="#"><img src=@prod.Product.Image alt="Image" style="width:180px; height:180px;"></a></p>
                                <div>@prod.Product.Title</div>
                                <div>Цена: @prod.Product.Price</div>
                                <div>Количество: @prod.Count</div>
                                <div><b>Сумма: @prod.Product.Price * @prod.Count</b></div>
                            </div>
                        }
                  }
                </details>
            </div>
        }
        
      
    }
</div>


