@using Shop.Microservice.Domain.Entities;
@model List<OrderProduct>
@{
    Layout = "_Layout";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<style>
    .cart-list {
        background-color: #E7EEF6;
        width: 90%;
        margin: 30px auto;
        padding: 15px;
        border-radius: 8px;
    }

    .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

        .cart-item img {
            width: 100px; /* Adjust as needed */
            height: 100px; /* Adjust as needed */
            margin-right: 10px;
        }

    .cart-item-details {
        flex-grow: 1;
    }

    .cart-item-price {
        font-weight: bold;
    }

    .remove-item {
        cursor: pointer;
        color: #888;
        margin-left: 20px;
    }

    .checkout-btn {
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: rgba(217, 217, 217, 1); /* Обновленный цвет фона */
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
@{
    var finalprice = 0;
}

<form method="post" id="form2" action="/ordercart">

<input hidden="hidden" name="orderid" class="orderid" value="@Model.FirstOrDefault()?.OrderId"/>
<div class="cart-list" id="cart-list">
    @for (int i = 0; i < Model.Count; i++)
    {
        var orderProduct = Model[i];
        <div class="cart-item" data-page="@((i / 3) + 1)">
            <img src="@orderProduct.Product.Image" alt="Product Image">
            <div class="cart-item-details">
                <div>@orderProduct.Product.Title</div>
                <div>@orderProduct.Count шт.</div>
                @{
                    var price = orderProduct.Product.Price * orderProduct.Count; finalprice += price;
                }
                <div class="cart-item-price">Price: @price</div>
            </div>
         
                <button type="button" onclick="remove('@orderProduct.OrderId','@orderProduct.ProductId')" class="remove-item">&#128465;</button>
            
        </div>
    }
    <a><b>Общая стоимость: @finalprice</b> </a>
</div>

<div>
  
    <button type="button" onclick="checkForm()" class="checkout-btn">Оформить заказ</button>
</div>
</form>
<div id="pagination"></div>
<script>
    function checkForm(){
        var ost = document.getElementById('balance1').innerHTML;
        if(ost < @finalprice){
            alert('Недостаточно средств')
            return;
        }
        document.getElementById('form2').submit();
    }
    function remove(a,b){
        $.ajax({
            url: '/RemoveOrderProduct?orderid=' + a + '&productid=' + b,
            method: 'post',
            dataType: 'html',
            data: { text: 'Текст' },
            success: function (data) {
                location.reload();
            }
        });
    }
</script>
