@using Shop.Microservice.Domain.Entities;
@model List<OrderProduct>
@{
    Layout = "_Layout";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<style>
    .cart-list {
        background-color: #E7EEF6;
        width: 90%;
        margin: 30px auto;
        padding: 15px;
        border-radius: 8px;
    }

    .cart-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

        .cart-item img {
            width: 100px; /* Adjust as needed */
            height: 100px; /* Adjust as needed */
            margin-right: 10px;
        }

    .cart-item-details {
        flex-grow: 1;
    }

    .cart-item-price {
        font-weight: bold;
    }

    .remove-item {
        cursor: pointer;
        color: #888;
        margin-left: 20px;
    }

    .checkout-btn {
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: rgba(217, 217, 217, 1); /* Обновленный цвет фона */
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
@{
    var finalprice = 0;
}

<form method="post" action="/ordercart">

<input hidden="hidden" name="orderid" class="orderid" value="@Model.FirstOrDefault()?.OrderId"/>
<div class="cart-list" id="cart-list">
    @for (int i = 0; i < Model.Count; i++)
    {
        var orderProduct = Model[i];
        <div class="cart-item" data-page="@((i / 3) + 1)">
            <img src="@orderProduct.Product.Image" alt="Product Image">
            <div class="cart-item-details">
                <div>@orderProduct.Product.Title</div>
                <div>@orderProduct.Count шт.</div>
                @{
                    var price = orderProduct.Product.Price * orderProduct.Count; finalprice += price;
                }
                <div class="cart-item-price">Price: @price</div>
            </div>
         
                <button type="button" onclick="remove('@orderProduct.OrderId','@orderProduct.ProductId')" class="remove-item">&#128465;</button>
            
        </div>
    }
    <a><b>Общая стоимость: @finalprice</b> </a>
</div>

<div>
  
    <button type="submit" class="checkout-btn">Оформить заказ</button>
</div>
</form>
<div id="pagination"></div>
<script>
    function remove(a,b){
        $.ajax({
            url: '/RemoveOrderProduct?orderid=' + a + '&productid=' + b,
            method: 'post',
            dataType: 'html',
            data: { text: 'Текст' },
            success: function (data) {
                location.reload();
            }
        });
    }
</script>
@*<script>

    const products = JSON.parse('@Html.Raw(Json.Serialize(Model))');

    let currentPage = 1;
    const itemsPerPage = 3;
    const totalPages = Math.ceil(products.length / itemsPerPage);
    console.log(totalPages);
    console.log(products);
    function showPage(page) {
        currentPage = page;
        const cartList = document.getElementById('cart-list');
        cartList.innerHTML = '';

        products
            .slice((page - 1) * itemsPerPage, page * itemsPerPage)
            .forEach(product => {
                cartList.innerHTML += `
                        <div class="cart-item">
                            <img src="${product.product.image}" alt="Product Image">
                            <div class="cart-item-details">
                                <div>${product.product.title}</div>
                                    <div class="cart-item-price">Price: ${product.product.price}</div>
                            </div>
                            <div class="remove-item">&#128465;</div>
                        </div>
                    `;
            });
    }

    function setupPagination() {
        const paginationDiv = document.getElementById('pagination');
        for (let i = 1; i <= totalPages; i++) {
            paginationDiv.innerHTML += `<button onclick="showPage(${i})">${i}</button>`;
        }
    }

    // Инициализация страницы и пагинации
    setupPagination();
    showPage(currentPage);
</script>*@
